In [1]:
# The code was removed by Watson Studio for sharing.

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,9/24/2017,Honda,HONDA WORLD WESTMINSTE WESTMINSTER CA,354.38,debit,Service & Parts,Citi Dividend World MasterCard,NaN,NaN
1,3/11/2017,Honda,HONDA WORLD WESTMINSTE WESTMINSTER CA,289.08,debit,Service & Parts,5937 Credit Card,NaN,NaN
2,10/02/2016,Honda,HONDA WORLD WESTMINSTER CA0000920774 AUTO DEAL...,510.00,debit,Service & Parts,Blue for Students,NaN,NaN
3,10/20/2015,Honda,HONDA WORLD WESTMINSWESTMINSTER00858698 AUT...,1673.05,debit,Service & Parts,Blue for Students,NaN,NaN
4,5/20/2015,Honda,HONDA WORLD WESTMINSTE WESTMINSTER CA,243.48,debit,Service & Parts,5937 Credit Card,NaN,NaN